<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script src="angular.js"></script>
<script>
	angular.module("myApp",[]).controller('firstCntl',function ($scope,$filter) {
   		$scope.numArray=[1,2,3,4,5,6,7,8,9,10,11];
      $scope.limitNum=2;
      $scope.users=[
      {
      	name:"Trapti",
      	dob :new Date("11/06/1981"),
      	percentile :89.345,
      	address :"Whitefield"
      },
       {
      	name:"Malay",
      	dob :new Date("02/15/1978"),
      	percentile :92.56332,
      	address :"Seegehalli bidarahalli"
      },
       {
      	name:"Shubhi",
      	dob :new Date("07/08/2009"),
      	percentile :98.9999,
      	address :"Home"
      }, {
        name:"Shubham",
        dob :new Date("08/11/2017"),
        percentile :94.9999,
        address :"Home"
      }];

      $scope.togOrder=function(fld){
 		$scope.togOrderFld=fld;
 		$scope.tog[fld]=!$scope.tog[fld];
 		$scope.ascdesc=$scope.tog[fld];
      };
      $scope.togOrderFld='name';
      $scope.tog={ name : true, dob :true, percentile:true, address:true};
     
   	});

angular.module("myApp").filter('startsWithS',function(){
  return function(items){
      return items.filter(function(item){
          return /s/i.test(item.name.substring(0,1));
      });
        

  }
});
</script>
</head>
<body>
  <div ng-app='myApp'>
  	<div ng-controller='firstCntl'>
     
 
    <input type="number" step=2 ng-model="limitNum">
    Output numbers :{{numArray|limitTo:limitNum}}
    <table> <thead>
    <th ng-click="togOrder('name')">Name</th><th ng-click="togOrder('dob')">DOB</th><th ng-click="togOrder('percentile')">Percentile</th><th ng-click="togOrder('address')">Address</th> </thead>
   <tbody>
   <tr ng-repeat="user in users | startsWithS | orderBy : togOrderFld :ascdesc">
    		<td>{{user.name | uppercase}}</td><td>{{user.dob |date :"mediumDate"}}</td><td>{{user.percentile|number:2}}</td><td>{{user.address | lowercase}}</td>
   </tr>
   </tbody>
</table>
</div>
  
  </div>
</body>
</html>